*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::after, ::before{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

.container{
    width: 100%;
    
}
.container .header{
    width: 100%;
    height: auto;
    padding: 0;
}
.container .navbar{
    width: 100%;
    height: 11vh;
    background-color: #00004d;
    box-shadow: 2px 2px 10px black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 4rem 0px 4rem;

}
.container .navbar h1{
    width: 7.9rem;
    font-family: poppins;
    font-size: 1.0rem;
    color: white;
    line-height: 1.1rem;
    margin-right: auto;
}
.container .navbar span{
    width: 7.5rem;
    font-family: poppins;
    font-size: 1.0rem;
    color: white;
    letter-spacing: 0.1rem;
}
.container .navbar a{
    text-decoration: none;
    margin-right: auto;
}
.navbar .nav-links{
    margin-left: 38rem;
}
.navbar .nav-links a{
    text-decoration: none;
    margin-left: 5rem;
    text-transform: uppercase;
    font-family: poppins;
    color: white;
}
.fa-house-chimney{
    color: white;
    font-size: 1.3rem;
}
.container .profile-wrap{
    background-color: rgba(128, 128, 128, 0.473);
}
.main-section{
    width: 100%;
}
.main-section h2{
    padding: 1rem 10rem;
    padding-top: 3rem;
    text-transform: uppercase;
    font-family: mulish;
}
.container .team-section{
    width: 100%;
}
.team-section .team-one,
.team-section .team-one:nth-child(3){
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    padding-top: 4%;
    padding-bottom: 6%;
    padding-left: 10%;
    width: 95%;
}
.team-section .team-one:nth-child(2),
.team-section .team-one:nth-child(4){
    flex-direction: row-reverse;
    padding-right: 10%;
}
.info-details1,
.info-details3{
    text-align: right;
    margin-right: -12%;
    line-height: 1.7rem;
}
.info-details1 p,
.info-details3 p{
    font-family: mulish;
    width: 80%;
}
.info-details1 h3,
.info-details3 h3{
    margin-bottom: 1%;
    font-family: mulish;
    font-weight: 900;
    width: 80%;
    color: #00004d;
}

hr{
    width: 50%;
    margin-left: 10%;
}
.info-img img{
    width: 17rem;
    height: 17rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 4px dotted #00004d;
}
.info-details,
.info-details2{
    width: 80%;
    line-height: 1.7rem;
}
.info-details h3,
.info-details2 h3{
    margin-bottom: 1rem;
    font-family: mulish;
    font-weight: 900;
    width: 80%;
    color: #00004d;
}
.info-details p,
.info-details2 p{
    font-family: mulish;
    width: 80%;
}
.container .footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3%;
    background-color: #00004d;
}
.container .footer ul{
    display: flex;
    list-style: none;
    margin-top: 3rem;
}
.container .footer li{
    font-family: poppins;
    color: white;
    font-size: 0.9rem;
    border-right: 1px solid white;
    margin-right: 1%;
    padding-right: 0.51%;
}
.container .footer a{
    text-decoration: none;
    color: white;
    font-family: poppins;
    font-size: 0.9rem;
}
.footer .firm h1{
    margin-top: 2%;
    color: white;
    font-family: poppins;
    line-height: 1.9rem;
}
.footer .firm span{
    color: white;
    letter-spacing: 0.18rem;
}
@media screen and (max-width: 425px){
    .container .profile-wrap {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
      }
    .team-section .team-one, .team-section .team-one:nth-child(3){
        padding-top: 13%;
        flex-direction: column;
        margin-left: 0%;
    }
    .team-section .team-one:nth-child(2), .team-section .team-one:nth-child(4){
        flex-direction: column;
    }
    .info-details1, .info-details3{
        text-align: center;
        margin-left: 7%;
    }
    .info-details, .info-details2{
        text-align: center;
    }
    .info-img img{
        margin-left: -9%;
    }
    .info-details, .info-details2{
        width: 100%;
        margin-left: 10%;
    }
}

@media screen and (max-width: 900px){
    .info-details, .info-details2{
        font-size: 90%;
        line-height: 110%;
    }
    .info-details1, .info-details3{
        font-size: 90%;
        line-height: 110%;
    }
    .team-section .team-one, .team-section .team-one:nth-child(3){
        width: 100%;
    }
}

